.picture-details {
    width: 45rem;
    margin: 5rem auto 0;
}
.picture-details h2 {
    text-align: center;
}
.picture-details .created-at {
    opacity: 0.8;
    font-size: 0.8rem;
}
.picture-wrapper {
    height: 80%;
    width: auto;
}