img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.btn {
    padding: 0.5rem;
    outline: none;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    margin: 0 0.5rem;
}
.btn:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
